// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 300%;
  color: blue;
}

#nav {
  color: white;
}


.navbar {
  background-color: #d966ff;
  padding-bottom: 15px;
  padding-top: 15px;
}

#nav ul li {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-size: 160%;
}

footer {
  height: 75px;
  font-size: 160%;
}

html {
  position: relative;
  height: 100%;
}

body {
  margin-bottom: 75px;
}

footer {
  position: absolute;
  height: 75px;
  width: 100%;
  bottom: 0;
  background: #d9e6f2;
}
