// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 300%;
  color: blue;
}

#nav {
  color: white;
}

#search {
  padding-left: 200px;
  font-size: .8em;
  color: black;
}

.navbar {
  background-color: #f0e68C;
  padding-bottom: 8px;
  padding-top: 8px;
}

#nav ul li {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-size: 160%;
}

html {
  position: relative;
  height: 100%;
}

#thanks{
  margin-top: 100px;
}

body {
  margin-bottom: 75px;
}

footer {
  position: relative;
  height: 75px;
  width: 100%;
  bottom: 0;
  background: #d9e6f2;
}
